@font-face {
  font-family: "Adobe Garamond Pro";
  src: url("./assets/fonts/adobe-garamond-pro-1166234.woff") format("woff");
  }


  @font-face {
    font-family: "Gill Sans W04";
    src: url("./assets/fonts/gill-sans-w04-book.woff") format("woff");
    }

  h4 {
  font-family: "Adobe Garamond Pro", Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
  padding: 0px;
  border: 1px;
  margin: 5px
}

  .Champion-Info-Container-Top {
    background-color: black;
    font-size: calc(10px + 2vmin);
    color: white;
    display: grid;
    width: 95.5vw;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-row-gap: 5px;
    grid-column-gap: 5px;
    font-family: "Gill Sans W04", GillSans, "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }

  .Champion-Info-Container-Bottom {
    background-color: black;
    font-size: calc(10px + 2vmin);
    color: white;
    display: grid;
    list-style: none;
    width: 90vw;
    grid-template-columns: 1fr;
    grid-column-gap: 5px;
    font-family: "Gill Sans W04", GillSans, "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }

  .Champion-Info-Box {
    background-color: #c7c7c7;
    /* margin: 5px;
    border: 5px; */
    border-style: solid;
    border-color: #9c9c9c;
  }

  .CIB-Top {
    display: grid;
    /* width: 26vw; */
    grid-template-areas: 
    "image name name name"
    "image info info info"
    "image info info info" ;
    max-width: 500px;
    max-height: 300px
}

  .CIB-Bottom {    
      width: 90vw; 
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr;
      grid-template-areas:
      "image name level level points points tokens";
  }

/* 
All the following are area descriptions for the CSS grid. 

*/
  .image-holder {
    grid-area: image;
    display: grid
  }

  .name-holder {
    grid-area: name;
  }

  .info-holder {
    grid-area: info;
  }

  .champ-tokens {
    grid-area: tokens
  }

  .champ-points {
    grid-area: points
  }

  .champ-level {
    grid-area: level
  }

  /* 
These next two control the appearance of the mastery badge for the top three champions.
champion-icon-mastery-top is the code for the emblem.
champion-icon-mastery is the code for the icon that sits under the emblem. 
*/

.champ-icon-mastery-top {
    padding-top: .5vh;
    padding-left: .5vw;
    grid-column: 1;
    grid-row: 1;
    width: 50%;
  }

  .champ-icon-mastery {
    padding-top: .9vh;
    padding-left: .7vw;
    grid-column: 1;
    grid-row: 1;
    border-radius: 50%;
    width: 42%;
  }

  .champ-icon-mastery-bot {
    padding-top: 2.5vh;
    padding-bottom: 2.5vh;
    padding-left: .5vw;
    grid-column: 1;
    grid-row: 1;
    border-radius: 50%;
    width: 30%;
  }